{{ define "main" }}
<article>
  <header>
    <h1>{{ .Title }}</h1>
    {{ with .Date }}
    <time datetime='{{ .Format "2006-01-02" }}'>{{ .Format "2006-01-02" }}</time>
    {{ end }}
    {{ with .GetTerms "tags" }}
    &mdash;
    {{ range . }}<a href="{{ .Permalink }}">#{{ .LinkTitle }}</a> {{ end }}
    {{ end }}
  </header>

  {{ .Content }}

  {{ if eq .Section "posts" }}
  <footer>
    <hr>
    <script src="https://utteranc.es/client.js"
            repo="ziyunli/ziyun.rocks"
            issue-term="pathname"
            label="comments"
            theme="preferred-color-scheme"
            crossorigin="anonymous"
            async>
    </script>
  </footer>
  {{ end }}
</article>
{{ end }}
