{{ define "main" }}
<h1>{{ .Title }}</h1>

<content>
  {{ .Content }}
</content>
<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>

{{ if eq .Type "blog" }}
<p>
  <i>
    Published on:
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}
<p>
  <i>
    Last modified:
    <time datetime='{{ .Lastmod.Format "2006-01-02" }}' pubdate>
      {{ .Lastmod.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>

<script src="https://utteranc.es/client.js"
        repo="ziyunli/ziyun.rocks"
        issue-term="pathname"
        label="comments"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
{{ end }}
