<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}" />
<meta property="og:site_name" content="{{ with .Site.Params.title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta name="twitter:card" content="summary" />
{{ with .Site.Params.images }}{{ range first 1 . }}<meta property="og:image" content="{{ . | absURL }}" />{{ end }}{{ end }}
